@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:900&display=swap&subset=cyrillic");

$fontOpenSans: "Open Sans", sans-serif;
$forntRaleway: "Raleway", sans-serif;

$colorBlue: #0064aa;

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: $fontOpenSans;
    background: #9ac2ec;
}

.wrap {
    min-height: 100%;
    height: auto;

    &::before {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: url("/img/body-bg.jpg") no-repeat 50% / cover;
    }
}

.container-fluid {
    max-width: 1100px;
}

.section {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
    margin: 25px 0;
}

h1 {
    margin: 0 0 25px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: $colorBlue;
}

h2 {
    margin: 40px 0 15px;
    font-size: 42px;
    font-weight: 600;
    color: #0157b1;
    text-align: center;
}

//* pre-header
.pre-header {
    background: #ffffff;
    padding: 5px 0;
}

.pre-header-menu {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        float: left;
        margin: 0 10px;
    }
    &__link {
        color: $colorBlue;
    }
}

.callback-info {
    font-weight: 600;

    &__mail {
        font-size: 18px;
        color: $colorBlue;
    }
}

//* header
.header {
    padding: 15px 0;
}

.page-title {
    margin-top: 25px;
    margin-left: 30px;
}

//* form
.form {
    .control-label {
        font-size: 18px;
        color: $colorBlue;
        padding-left: 10px;
    }
    &-control {
        height: auto;
        font-size: 21px;
        background: #ceebff;
        border-radius: 8px;
        box-shadow: none;
        padding: 11px 20px;
        color: $colorBlue;
    }
    &-control-info {
        padding-left: 20px;
        color: $colorBlue;
        font-size: 18px;
        margin-bottom: 15px;

        .red {
            position: relative;
            background: #f9d0d0;
            border: 1px solid #eca1a1;
            border-radius: 3px;
            padding: 0 5px;

            &::before {
                content: "";
                position: absolute;
                left: 101%;
                bottom: 50%;
                background: url("/img/control-info-arrow.png") no-repeat 50% / contain;
                width: 26px;
                height: 29px;
            }
        }
    }
    &-submit {
        margin-top: 10px;
        font-size: 18px;
        background: #1870cc;
        padding: 13px 15px;
        min-width: 163px;
        text-align: center;
        border: none;
        border-radius: 8px;
    }
}

.site-login {
    max-width: 826px;
    margin: 0 auto;
}
.auth-nav {
    $c: &;

    border-bottom: none;
    margin-bottom: 25px;

    &__item {
        &.active {
            #{$c}__link,
            #{$c}__link:focus,
            #{$c}__link:hover {
                border: none !important;
                border-bottom: 3px solid #6ea2d9 !important;
                color: #0157b1;
            }
        }
    }
    &__link {
        border: none !important;
        border-bottom: 3px solid #c3c3c3 !important;
        font-size: 18px;
        font-weight: 600;
        color: #4e6474;
    }
}

//* test
.test {
    max-width: 900px;
    margin: 0 auto;

    &__user-name {
        text-align: right;
        font-size: 21px;
        margin-top: 4px;
    }
    &__form {
        margin-bottom: 25px;
    }
    &__button {
        margin: 15px;
    }

    &__thumb-wrap {
        text-align: center;
        margin-top: 25px;
    }
    &__thumb {
        width: 35px;
        height: 35px;
        margin: 5px;
        background: url("/img/form-thumb.png") no-repeat -70px 50%;
        display: inline-block;
        text-indent: -9999px;

        &.active {
            background-position: -35px 50%;
        }
        &.done {
            background-position: 0px 50%;
        }
    }
    &__timer {
        width: 88px;
        margin: 20px auto 0;
        background: #ceebff;
        border: 1px solid #1870cc;
        border-radius: 5px;
        text-align: center;
        font-size: 24px;
        color: #1870cc;
    }
}
.test-form {
    $c: &;

    &__qnumb {
        float: left;
        margin-right: 25px;
        margin-bottom: 15px;
        text-align: center;

        &-num {
            font-size: 29px;
            font-weight: 600;
            color: #ffffff;
            background: #0b82d5;
            border-radius: 25px;
            line-height: 1.4;
            display: inline-block;
            width: 40px;
            text-align: center;
        }
    }
    &__title {
        font-size: 32px;
        color: #0b82d5;
        font-weight: 600;
        overflow: hidden;
        position: relative;
        top: -10px;
    }
    &__group {
        margin: 15px 0;
    }
    &__label {
        width: 100%;
        margin: 0;
        max-width: 800px;
    }
    &__radio {
        display: none;

        &:checked {
            & + #{$c}__item {
                background: #3bafff;
                border-color: #1b88d5;
                color: #ffffff;

                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &__item {
        width: 100%;
        display: inline-block;
        background: #ceebff;
        border: 2px solid #ceebff;
        border-radius: 8px;
        padding: 15px 25px 15px 70px;
        color: #0064aa;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        transition: 0.3s;

        &::before {
            content: "";
            position: absolute;
            left: 15px;
            top: 50%;
            margin-top: -21px;
            width: 42px;
            height: 42px;
            background: url("/img/form-item-check.png") no-repeat 50%;
            opacity: 0;
            transition: 0.3s;
        }
        &:hover {
            background: #b0defd;
        }
    }
}

.default-button {
    background: #1870cc;
    font-size: 18px;
    padding: 13px 15px;
    min-width: 163px;
    text-align: center;
    border: 2px solid #1870cc;
    border-radius: 8px;
    color: #ffffff;
    transition: 0.3s;

    &:hover {
        background: #3bafff;
        color: #ffffff;
        border: 2px solid #1870cc;
    }

    &_invert {
        background: #ffffff;
        color: #0064aa;

        &:hover {
            background: #1870cc;
            color: #ffffff;
        }
    }
}

.test-info {
    background: #ede7a6;
    border: 2px solid #e0b700;
    border-radius: 16px;
    padding: 15px 67px 15px 30px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -25px;
        height: 100%;
        width: 84px;
        background: url("/img/test-info__pers.png") no-repeat 50% / contain;
    }

    &__text {
        font-size: 18px;
        font-weight: 600;
    }
    &__item {
        background: #ffffff;
        border-radius: 16px;
        padding: 30px 8px 30px 59px;
        position: relative;
        box-shadow: 0 0 7px #e0b700;
    }
    &__ico {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__num {
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        text-align: center;
    }
    &__label {
        font-weight: 600;
        text-align: center;
    }
}

.test-attention {
    border: 2px solid #eca79a;
    border-radius: 25px;
    max-width: 660px;
    margin: 80px auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 107px;
        height: 134px;
        top: 50%;
        right: 100%;
        transform: translateY(-50%);
        background: url("/img/test-attention__pers.png") no-repeat 50% / contain;
    }

    &__label {
        float: left;
        background: #eca79a;
        color: #bc0000;
        border-radius: 25px;
        padding: 10px 40px;
        font-size: 18px;
        font-weight: 600;
    }
    &__text {
        text-align: center;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
    }
}

.test-start {
    max-width: 712px;
    margin: 25px auto 0;
    padding: 30px 20px;
    background: url("/img/test-start-bg.png") no-repeat 50% / 100% 100%;
    position: relative;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        width: 99px;
        height: 145px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: url("/img/test-start__pers.png") no-repeat 50% / contain;
        margin-top: -20px;
    }
}

.test-result {
    &__title {
        font-size: 32px;
        color: #0b82d5;
        font-weight: 600;
        margin: 50px 0;
        text-align: center;
    }
    &__info {
        text-align: center;
        margin: 50px 0;
    }
    &__label {
        font-size: 32px;
        font-weight: 600;
    }
    &__text {
        font-size: 32px;
        font-weight: 600;
        color: #0157b1;
    }
}

.auth-info {
    margin-bottom: 25px;

    &__title {
        font-size: 21px;
        font-weight: 600;
        color: #0157b1;
    }
    &__text {
        font-size: 18px;
        font-weight: 600;
        color: #4e6474;
    }
}

.create-account {
    margin-top: 40px;

    &__link {
        font-size: 18px;
        font-weight: 600;
        text-decoration: underline;
        color: #0157b1;
    }
    &__text {
        font-size: 18px;
        font-weight: 600;
        color: #4e6474;
    }
}

.date-table {
    background: #d2e8fe;
    padding: 20px 5px;
    border-radius: 16px;

    &__item {
        border-bottom: 2px dashed #6ea2d9;
        padding: 15px 65px 5px;
    }
    &__date {
        font-size: 26px;
        font-weight: 600;
        color: #0157b1;

        &_red {
            color: #de0202;
        }
    }
    &__text {
        font-size: 21px;
        color: #0157b1;
        font-weight: 600;
    }
}

.test-info-2 {
    background: url("/img/test-info-2__pers-1.png") no-repeat 7% 18%, url("/img/test-info-2__pers-2.png") no-repeat 90% 13%, #f4beb2;
    border-radius: 16px;
    text-align: center;
    padding: 25px 15px;

    &__text {
        font-size: 24px;
        font-weight: 600;
        margin: 40px auto;
    }
    &__info {
        font-size: 18px;
        color: #0157b1;
        margin-bottom: 15px;
    }
    &__button-wrap {
        max-width: 712px;
        margin: 25px auto 0;
        padding: 30px 20px;
        background: url("/img/test-info-2__pers-3.png") no-repeat 95% 50%, rgba(255, 255, 255, 0.466);
        border-radius: 16px;
    }
}

.simple-text {
    font-size: 18px;

    &__item {
        margin-top: 25px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.curator-enter {
    background: #bff4b2;
    padding: 40px 15px;
    text-align: center;
    border-radius: 16px;
}

.instruction-info {
    background: #a0e0f6;
    border-radius: 16px;
    padding: 30px 15px;
    text-align: center;

    &__text {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
    }
}

.olimp-result-info {
    background: #d2fedb;
    padding: 40px 15px;
    text-align: center;
    border-radius: 16px;

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 40px;

        big {
            color: #0157b1;
        }
    }
    &__img {
        img {
            margin: 0 auto;
        }
    }
}

.recomend-browser {
    background: #f4e7b2;
    padding: 40px 15px;
    text-align: center;
    border-radius: 16px;
    margin: 40px 0;

    &__title {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__image {
        img {
            margin: 0 auto;
        }
    }
    &__name {
        font-size: 13px;
    }
}

.result-table {
    &__header {
        display: table;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-top: 2px solid #84a8cf;
        border-left: 2px solid #84a8cf;
        border-right: 2px solid #84a8cf;
        background: #d6eaff;
        color: #0157b1;
    }
    &__body {
        border: 2px solid #84a8cf;
    }
    &__row {
        display: table;
        width: 100%;
        border-top: 2px solid #84a8cf;

        &:first-child {
            border-top: none;
        }
    }
    &__item {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;

        &:nth-child(1) {
            width: 9%;
        }
        &:nth-child(2) {
            width: 33%;
        }
        &:nth-child(3) {
            width: 15%;
        }
        &:nth-child(4) {
            width: 33%;
        }
        &:nth-child(5) {
            width: 10%;
        }
    }
    &__num {
        font-size: 32px;
        font-weight: 600;
        color: #0157b1;
        margin-left: 10px;
    }
    &__user,
    &__curator {
        font-size: 16px;
        font-weight: 600;
    }
    &__sum {
        font-size: 18px;
        font-weight: 600;
    }

    &__footer {
        margin-top: 20px;
        background: #d6eaff;
        padding: 25px;
        font-size: 18px;
        font-weight: 600;
    }
}
